.footer {
  background-color: var(--btn-color);
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;

  & p {
    color: var(--dark-color);
    text-align: center;
    font-size: 1.2rem;
  }
}
